body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.title {
    font-size: 30px;
    font-weight: 800;
    background-color: rgb(194, 144, 255);
    text-align: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid rgb(130, 37, 252)
}
.search {
    background-color: rgb(101, 175, 107);
    width: 100%;
    display: flex;
    padding:15px;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;
    gap:10px;
    border: 3px solid black;
}
.search label {
    margin-bottom: 5px;
}
#searchBtn {
    background-color: rgb(67, 98, 234);
    color: white;
}
body {
    background-color: rgb(116, 105, 182);
    margin: 0;
}
.movieList {
    display: grid;
    justify-content: center;
    gap:10px;
    grid-template-columns:repeat(4, 1fr );
}
.card {
    width: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 3px ridge black;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white ;

}
.card h4, .card p {
    margin:auto;
}
.movieTitle {
    font-size: 28px;
    font-weight: 900;
    color: rgb(85, 85, 255);
    text-align: center;
}
.overView {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.rating {
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 252, 78);
    text-align: center;
}
.card img {
    width: 100%;
    max-height: 400px;
    display:block;
}